html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

img {
  float: left;
  margin: 10px;
}

p {
  padding: 5px;
}
h5, h6{
  margin:0;
}
.grid-container {
  display: grid;
  grid-template-columns: 50px auto;
  height: auto;
}

header {
  background-color: #34362A;
  color: white;
  display: flex;
  padding: 10px;
}
.header-title{
  display: inline-block;
}


.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightgray;
  width: 50px;
  min-height: calc(100vh - 70px);
}

table {
  width: 100%;
}

td {
  padding: 10px !important;
}

.sync-btn {
  background: white;
  border: 1px solid darkblue;
  color: darkblue;
  text-transform: uppercase;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

i {
  font-size: 30px;
  padding: 20px;
}

.footer-icons {
  margin-left: auto;
}

.header-icons {
  font-size: 15px;
  padding: 0px;

}

.header-items {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
} 