body{
    margin:10px;
    padding:0px 40px;
    background-image:url('images/mars_background.jpg');
    background-size: cover;
    color:white;
   
}
.heading{
    text-align: center;
    padding-top: 30px;
    font-size:20px;
    color:orange;
     
}
.container{
display:grid;
grid-template-columns: repeat(2,4fr);
grid-gap:40px;
}
