*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: Helvetica, sans-serif;
}
body{
  display:flex;
  background:rgb(32, 47, 69);
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.container{
  position:relative;
  display:flex;
  align-items: center;
  justify-content:center;
  width:300px;
  height:400px;
   background:rgba(0,0,0,0.5); 
  overflow:hidden;
  border-radius:15px;
 }
 .container::before{
  content: '';
  position:absolute;
  width:150px;
  height:140%;
  background:linear-gradient(#00ccff,#d400d4);
  animation:animate 7s linear infinite;
  
 }
 .container::after{
  content:'';
  position:absolute;
  inset:4px;
  background:#0e1538;
 }
.header{
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
  
}
h1{
  font-size:2rem;
  font-weight:600;
  color:white;
  z-index:10;
  position:relative;
}
.btn{
  position:relative;
  background-color:green;
  align-items: flex-end;
  height:2rem;
  justify-content: space-between;
  min-height:fit-content;
  width:6em;
  border-radius: 0.5em;
  border:0.5px grey solid;
  color:white;
  z-index:10;
}
@keyframes animate {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}